<mat-card appearance="outlined">
    
    <mat-card-content>
        <img mat-card-image width="250px" src="{{playlist.images[0].url}}">
        <mat-card-title>{{playlist.name}}</mat-card-title>
        <mat-card-subtitle>{{playlist.tracks.total}} tracks</mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="goToPlayer(playlist.id)">Play Playlist</button>
    </mat-card-actions>
    </mat-card-footer>
</mat-card>
