
<app-hero [title]="title" [subtext]="subtext" (playlistsLoaded)="onPlaylistsLoaded($event)" (getPlaylist)="getPlaylist()" ></app-hero>
    
  <hr/>
  @if(currentPlaylistInfo) {
    <app-playing-info [currentPlaylistInfo]="currentPlaylistInfo"></app-playing-info>
    <app-media-controls [currentPlaylistInfo]="currentPlaylistInfo" [currentDevice]="currentDevice()"></app-media-controls>
  }
  
  @defer (when playlists) {
    <section class="playlists">
      @for (list of playlists; track trackByPlaylistId($index, list)) {
        <app-playlist-card [playlist]="list" (selectedPlaylistId)="selectedPlaylist($event)"></app-playlist-card>
      }
    </section>
  }